* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

#logo-container{
    display: flex;
    height: 64px;
    align-items: center;
    gap: 10px;
}

#logo{
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 64px;
    height: 64px;
}

#logo-name{
    text-decoration: none;
    color: #3E3F43;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

#twitter-logo{
    background: url("../images/twitter-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 25px;
    height: 20px;
}

#fb-logo{
    background: url("../images/fb-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 20px;
    height: 20px;
}

#ig-logo{
    background: url("../images/ig-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 20px;
    height: 20px;
}

header{
    display: flex;
    align-items: center;
    height: 128px;
    margin-left: 32px;
    margin-right: 32px;
    gap: 135px;
}

header nav{
    display: flex;
    gap: 64px;
}

header nav > a{
    text-decoration: none;
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav .active{
    font-weight: 700;
}

header nav > a:hover{
    color: #8a2be2;
}

h1{
    color: #612999;
    font-family: Nunito;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#promotional{
    height: 797px;
    background: url("../images/Promotional.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    padding-left: 32px;
    padding-top: 32px;
}

#promotional > p{
    width: 448px;
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#about > p{
    color: #000;
    text-align: justify;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    }

footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 287px;
    padding-top: 32px;
    padding-left: 32px;
    width: 100%;
    background-color: #EFECFF;
    display: flex;
    gap: 150px;
}

h4{
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 16px;
    text-transform: uppercase;
}

h5{
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

footer li{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-bottom: 8px;
}

footer li a{
    text-decoration: none;
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer nav{
    display: flex;
    gap: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

