* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

.f-container{
    display: flex;
}

#logo-container{
    height: 64px;
    align-items: center;
    flex-basis: 387px;
    gap: 10px;
}

#logo{
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 64px;
    height: 64px;
}

#logo-name{
    text-decoration: none;
    color: #3E3F43;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

#twitter-logo{
    background: url("../images/twitter-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 25px;
    height: 20px;
}

#fb-logo{
    background: url("../images/fb-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 20px;
    height: 20px;
}

#ig-logo{
    background: url("../images/ig-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 20px;
    height: 20px;
}

header{
    align-items: center;
    justify-content: space-between;
    height: 128px;
    padding-left: 32px;
    padding-right: 120px;
}

header nav{
    gap: 64px;
}

header nav > a{
    text-decoration: none;
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav .active{
    font-weight: 700;
}

header nav > a:hover{
    color: #8a2be2;
}

h1{
    color: #612999;
    font-family: Nunito;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

h2{
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

h3{
    color: #000;
    text-align: justify;
    font-family: Abel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

h4{
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 16px;
    text-transform: uppercase;
}

h5{
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#promotional{
    aspect-ratio: 3 / 2;
    width: 100%;
    background: url("../images/Promotional.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding-top: 32px;
}

#promotional p{
    width: 448px;
    color: #000;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#about{
    padding-top: 32px;
}

#about > h2{
    margin-bottom: 32px;
}

#about > p{
    color: #000;
    text-align: justify;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;

    margin-bottom: 24px;
}

main{
    padding-top: 15px;
}

main > h2{
    padding-bottom: 27px;
}

#cards{
    flex-wrap: wrap;
}

.card{
    width: 376px;
    height: 496px;
    flex-shrink: 0;
    margin-right: 32px;
    margin-bottom: 27px;
    position: relative;

    border-radius: 38px;
    background: #EFECFF;
    box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.05);
}

.card img{
    width: 376px;
    height: 276px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center top;

    border-radius: 38px;
    background: #FFF;
    box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.05);
}

.card h3{
    margin-top: 21px;
    margin-left: 32px;
    margin-bottom: 7px;
}

.card > p{
    margin-left: 32px;
    width: 315px;
    height: 96px;
    flex-shrink: 0;

    color: #333;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card > .price-tag{
    color: #612999;
    text-align: justify;
    font-family: Abel;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: 0px;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 36px;
    left: 32px;
}

.card > .like-icon-circle{
    position: absolute;
    right: 42px;
    top: 40px;
    height: 47px;
    width: 47px;
    background-color: #EFECFF;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card > .shopping-cart-icon-circle{
    position: absolute;
    right: 51px;
    bottom: 27px;
    height: 63px;
    width: 63px;
    background-color: #612999;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart-icon-circle .shopping-cart-icon{
    background: url("../images/shopping-basket\ 2.svg");
    width: 31px;
    height: 31px;
}

.like-icon-circle .like-icon{
    background: url("../images/heart\ 2.svg");
    width: 23px;
    height: 20px;
}

.clear {
    clear: both;
    height: 319px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 287px;
    padding-top: 32px;
    width: 100%;
    background-color: #EFECFF;
    display: flex;
    gap: 150px;
}



footer ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 8px;
}

footer li a{
    text-decoration: none;
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer nav{
    display: flex;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
}

#gallery > img{
    margin-right: 32px;
    margin-bottom: 32px;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    border: 4px solid #E6DBFE; 
}

#gallery > img.gallery-long{
    width: 388px;
}

.custom-bullet-list{
    margin-top: 32px;
    margin-bottom: 32px;
    list-style-type: none;
    color: #000;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.custom-bullet-list li{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;
}

.custom-bullet{
    height: 82px;
    width: 82px;
    background-color: #612999;
    border-radius: 50%;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-bullet .rocket-icon{
    background: url("../images/rocket_icon.svg");
    width: 29px;
    height: 43px;
}
